<h1>JOHN MUIA</h1>


<button><a href="{% url 'TTB:Form1A' %}">FORM1A</a></button>
<button><a href="{% url 'TTB:Form1B' %}">FORM1B</a></button><br><br>
<button><a href="{% url 'TTB:Form2A' %}">FORM2A</a></button>
<button><a href="{% url 'TTB:Form2B' %}">FORM2B</a></button><br><br>
<button><a href="{% url 'TTB:Form3A' %}">FORM3A</a></button>
<button><a href="{% url 'TTB:Form3B' %}">FORM3B</a></button><br><br>
<button><a href="{% url 'TTB:Form4A' %}">FORM4A</a></button>
<button><a href="{% url 'TTB:Form4B' %}">FORM4B</a></button>